div.paragraph {
	display: block;
	clear: both;
	width: 1000px;
	padding: 16px;
}

div.glossary {
	float: right;
	width: 25%;
	margin: 1em;
}

div.en {
	font-family: 'Lucida Grande', Meiryo, sans-serif;
	font-size: 10.5pt;
	margin: 1em;
	width: 30%;
	color: #000080;
	float: right;
}

div.ja {
	font-family: 'Lucida Grande', Meiryo, sans-serif;
	font-size: 10.5pt;
	width: 30%;
	color: black;
	margin: 1em;
	float: right;
}

p {
    margin: 0;
}

textarea {
    width: 100%;
}

.editor.saving {
    cursor: wait;
}

.editor.saving textarea {
    cursor: wait;
}

.saving span.save {
    color: gray;
}

span.save {
	display: block;
	background-image: url(/static/images/save.png);
	background-position: 0px 0px;
	cursor: pointer;
	width: 52px;
	height: 20px;
	color: rgba(0, 0, 0, 0);
}

span.save:hover {
	background-position: 0px -20px;
}

span.save:active {
	background-position: 0px 20px;
}

span.has_pair {
    color: red;
}

.dict-entry-highlight {
	background-color: blue;
}

#glossary_area {
	position: fixed;
	top: 0px;
	right: 0px;
	border: solid 1px;
}

#glossary_area #new_entry {
	border: double 3px;
	margin: 4px;
	padding: 3px;
}
