div.paragraph {
	display: block;
	clear: both;
	width: 800px;
	padding: 16px;
}

div.en {
	font-family: 'Lucida Grande', Meiryo, sans-serif;
	font-size: 10.5pt;
	display: inline;
	float: right;
	margin: 0;
	width: 48%;
	color: #000080;
}

div.ja {
	font-family: 'Lucida Grande', Meiryo, sans-serif;
	font-size: 10.5pt;
	width: 48%;
	color: black;
	margin: 0;
}

p {
    margin: 0;
}

textarea {
    width: 100%;
}

span.in_dict {
    color: red;
}

.dict-entry-highlight {
	background-color: blue;
}

#dict_area {
	position: fixed;
	top: 0px;
	right: 0px;
	border: solid 1px;
}

#dict_area #new_entry {
	border: double 3px;
	margin: 4px;
	padding: 3px;
}
