<!doctype html>
<head>
  <title>create new book - yomoyama</title>
</head>
<body>
  <form action='{{ url_for("create_book") }}' method='POST'>
    <div>
      <label for='title'>Title</label>:
      <input name='title'>
    </div>
    <div>
      <label for='repo_url'>GitHub Repository URL</label>:
      <input name='repo_url'>
      (ex. https://github.com/yattom/aep.git )
    </div>
    <div>
      <label for='branch'>Remote Branch Name</label>:
      <input name='branch'>
    </div>
    <input type='submit'>
  </form>
</body>
