div.paragraph {
	display: block;
	clear: both;
	width: 800px;
	padding: 16px;
}

div.en {
	display: inline;
	float: right;
	margin: 0;
	width: 48%;
	color: blue;
}

div.ja {
	width: 48%;
	color: black;
	margin: 0;
}

p {
    margin: 0;
}

textarea {
    width: 100%;
}
